<div class="row">
  <div class="col-12">
  </div>
</div>
<!---->

<div class="row " style="margin-top: 10%;">
  <div class="col-12 d-flex align-items-center justify-content-center">
    <div class="card  text-center">
      <div class="card-content">
        <div class="card-img overlap">
          <img src="assets/img/logo_call_center.jpg" alt="element 06" width="235" class="mb-1">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" (resized)="onResized($event)">
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card gradient-purple-love">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h3 class="font-large-1 white mb-0">Appel Entrant </h3>
              <span>Client</span>
            </div>
            <div class="media-right info text-right">
              <i class="icon-call-in font-large-1"></i>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card gradient-ibiza-sunset">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h4 class="font-large-1 white mb-0">Appel Sortant</h4>
              <span>Client</span>
            </div>
            <div class="media-right info text-right">
              <i class="icon-call-out font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card gradient-mint">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h4 class="font-large-1 white mb-0">Appel Entrant</h4>
              <span>Consommateur</span>
            </div>
            <div class="media-right info text-right">
              <i class="icon-call-in font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card gradient-king-yna">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h4 class="font-large-1 white mb-0">Appel Sortant</h4>
              <span>Consommateur</span>
            </div>
            <div class="media-right info text-right">
              <i class="icon-call-out font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
