<div class="row">
  <div class="col-12">
    <div class="content-header">Detail Client</div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card ">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-2">
          <span class="badge bg-light-primary">IDENTIFICATION DU PDV</span>
        </div>
        <div class="row">
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">No COMPTE: </label>1236547890
          </div>
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">NOM PDV: </label>1236547890
          </div>
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">PROPRIETAIRE: </label> 1236547890
          </div>
        </div>

        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Adresse: </label>1236547890
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Quartier: </label>1236547890
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Commune: </label> 1236547890
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">TELEPHONE: </label> 1236547890
          </div>

        </div>

        <div class="bg-light-secondary">
          <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
              <label for="last-name" class="col-form-label">Type PDV: </label>TERRASSE
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <label for="last-name" class="col-form-label">Régime: </label>MIXTE
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <label for="last-name" class="col-form-label">Catégotie: </label> OR
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <label for="last-name" class="col-form-label">Décoration: </label> BEAUFORT
            </div>
          </div>
          <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
              <label for="last-name" class="col-form-label">Contrat No: </label>1517/2020
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <label for="last-name" class="col-form-label">Deb Contrat: </label> 25/05/2020
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <label for="last-name" class="col-form-label">Fin Contrat: </label> 25/05/2020
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <label for="last-name" class="col-form-label">Date Création: </label> 25/05/2020
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Emballages: </label>200
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Emb. Consigne: </label> 300
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">D. Achat: </label> 25/05/2020
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">MAJ: </label> 25/05/2020
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card ">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-2">
          <span class="badge bg-light-warning">GESTION COMMERCIALE</span>
        </div>
        <div class="row">
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Sup: </label>1236547890
          </div>
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Merch: </label>1236547890
          </div>
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Vendeur: </label> 1236547890
          </div>
        </div>

        <div class="row">
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Tel: </label>1236547890
          </div>
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Tel: </label>1236547890
          </div>
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Tel: </label> 1236547890
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <button type="button" class="btn btn-primary round mr-1 mb-1">Primary</button>
  <button type="button" class="btn btn-secondary round mr-1 mb-1">Secondary</button>
  <button type="button" class="btn btn-success round mr-1 mb-1">Sondages</button>
  <button (click)="gotoCommande()"  type="button" class="btn btn-danger round mr-1 mb-1">Commandes</button>
</div>


