<div class="row">
  <div class="col-12">
    <div class="content-header">Detail Client</div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card ">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-2">
          <span class="badge bg-light-primary">IDENTIFICATION DU PDV</span>
        </div>
        <div class="row">
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">No COMPTE : </label>{{selectedClient.numero}}
          </div>
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">NOM PDV : </label>{{selectedClient.raisonSociale}}
          </div>
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">PROPRIETAIRE : </label> {{selectedClient.nomProprietaire}}
          </div>
        </div>

        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Adresse : </label>{{selectedClient.adresse}}
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Quartier : </label>{{selectedClient.quartier}}
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Commune : </label> {{selectedClient.commune}}
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">TELEPHONE : </label> {{selectedClient.telephone}}
          </div>

        </div>

        <div class="bg-light-secondary">
          <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
              <label for="last-name" class="col-form-label">Type PDV : </label>{{selectedClient.type}}
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <label for="last-name" class="col-form-label">Régime : </label>{{selectedClient.regime}}
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <label for="last-name" class="col-form-label">Catégotie : </label> {{selectedClient.categorie}}
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <label for="last-name" class="col-form-label">Décoration : </label> {{selectedClient.decoration}}
            </div>
          </div>
          <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
              <label for="last-name" class="col-form-label">Contrat No : </label>{{selectedClient.numeroContrat}}
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <label for="last-name" class="col-form-label">Deb Contrat : </label> {{selectedClient.dateDebutContrat}}
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <label for="last-name" class="col-form-label">Fin Contrat : </label> {{selectedClient.dateFinContrat}}
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <label for="last-name" class="col-form-label">Date Création : </label> {{selectedClient.dateCreation}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Emballages : </label>{{selectedClient.emballage}}
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Emb. Consigne : </label> {{selectedClient.consignationEmballages}}
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">D. Achat : </label> {{selectedClient.dernierAchat}}
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">MAJ : </label> {{selectedClient.dateMiseAjour}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card ">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-2">
          <span class="badge bg-light-warning">GESTION COMMERCIALE</span>
        </div>
        <div class="row">
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Sup : </label>{{selectedClient.nomSup}}
          </div>
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Merch : </label>{{selectedClient.nomMerch}}
          </div>
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Vendeur : </label> {{selectedClient.nomVendeur}}
          </div>
        </div>

        <div class="row">
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Tel : </label>{{selectedClient.telSup}}
          </div>
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Tel : </label>{{selectedClient.telMerch}}
          </div>
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Tel : </label> {{selectedClient.telVendeur}}
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">Circuit : </label>{{selectedClient.codeCircuit}}
          </div>
          <div class="col-xl-4 col-sm-6 col-12">
            <label for="last-name" class="col-form-label">CD : </label>{{selectedClient.cd}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-7  col-12" *ngIf="plaintesLoaded" >
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Liste des Plaintes</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Type</th>
                  <th scope="col">Date</th>
                  <th scope="col">Description</th>
                  <th scope="col">Statut</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of plaintes" >
                  <td>{{item.type}}</td>
                  <td >{{item.dateDepot | date}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.statut}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-5  col-12" *ngIf="materielsLoaded">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Liste Matériels</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Date</th>
                  <th scope="col">Motif</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of materiels" >
                  <td>{{item.libelle}}</td>
                  <td class="badge badge-pill bg-light-danger cursor-pointer">{{item.quantite}}</td>
                  <td>{{item.dateAffectation | date}}</td>
                  <td>{{item.motif}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <button (click)="gotoVentes()" type="button" class="btn btn-primary round mr-1 mb-1">Ventes</button>
  <button type="button" class="btn btn-success round mr-1 mb-1">Sondages</button>
  <button (click)="gotoCommande()"  type="button" class="btn btn-danger round mr-1 mb-1">Commandes</button>
</div>


