<div class="row">
  <div class="col-12">
    <div class="content-header">Detail Client</div>
  </div>
</div>
<div class="row">

  <div class="col-xl-3 col-lg-6">
        <div class="row">
          <div class="col">
           <button class="btn btn-icon btn-3 btn-primary" (click)="gotoAjouter()" type="button">
              <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
              <span class="btn-inner--text">Ajouter un Utilisateur</span>
            </button>
          </div>
        </div>
  </div>
</div>

<div class="row" *ngIf="resultLoaded" match-height>
  <div class="col-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Résultats</h4>
    </div>
    <div class="card-content">
      <div class="card-body">
        <form class="form-search form-inline">
          <mat-form-field class="table">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer">
          </mat-form-field>
        </form>

        <div class="spinner-container" *ngIf="!resultLoaded">
          <mat-spinner></mat-spinner>
        </div>
        <mat-table [dataSource]="dataSource">

          <!-- Name Column -->

          <ng-container matColumnDef="nom">
            <mat-header-cell *matHeaderCellDef> NOM </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.nom}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef> UTILISATEUR </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.username}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef> ROLE </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.role}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="update">
            <mat-header-cell *matHeaderCellDef> MODIFIER </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button type="button" class="btn btn-info" matTooltip="Modifier" (click)="gotoEditer(element)"><span
                  class="icon-info"></span>
              </button>&nbsp;
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef> SUPPRIMER </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button type="button" class="btn btn-info" matTooltip="Supprimer" ><span
                  class="icon-info"></span>
              </button>&nbsp;
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>
</div>
